{% extends "_base.njk" %}

{% block main %}

<!-- Begin Page Content -->
<div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Pagina Restrita! </h1>
                <p class="lead">
                      Efetuou Logon!
                      <br>
                       Sessão<br>
                       {{sessionUser}}
                </p>
                 <a class="btn btn-primary btn-lg" href="/logout" role="button">sair</a>
        </div>

</div>
        <!-- /.container-fluid -->

{% endblock %}