{% extends "_base.njk" %}

{% block main %}

<!-- Begin Page Content -->
<div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Acesso  </h1>
                <p class="lead">
                      Efetuou Logon!

                </p>
                 <a class="btn btn-primary btn-lg" href="/logout" role="button">sair</a>
        </div>

</div>
        <!-- /.container-fluid -->

{% endblock %}